html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
  font-family: 'Titillium Web', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen|Titillium+Web');

#headerMenu{
  height:50px;
  width:100%;
  background-color: #37474F;
}

#formContainter{
  display: block;
  float: right;
  width: 80%;
  margin: auto;
  height: 1400px;
  color:#ECEFF1;

  
}
#leftMenu{
  height:1400px;
	width:18%;
	float: left;
	display: inline-block;
	text-align: left;
	list-style: none;
  background-color: #37474F;
  color:#ECEFF1;

}

#leftMenu li{
  list-style: none;
  border-bottom: 1px solid #90A4AE;
  margin:20px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#leftMenu ul{
  padding-left: 0px;
}

.plusButton{
  align-content: center;
  height:100px;
  width: 100px;
  background-color:#64B5F6;
  font-size:24px;
  
}

#firstForm, #secondForm, #thirdForm, #fourthForm{
  display: block;
  text-align: center;
  background-color: #0D47A1;
}
.textFieldSmall{
  display: block;
  width: 100px;
  height:50px;
  margin: 10px 20px;
}

#firstBloc{
  display: block;
  height:120px;
  width:70%;
  clear:both;
}
