html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen|Titillium+Web');

body{
  background-image:url('https://source.unsplash.com/4vF060ahKyM/2500x2500');
  background-repeat: no-repeat;
  margin: 0px;
}

#headerMenu{
  margin-top: 0px;
  height:50px;
  width:100%;
  background-color: #00001a;
  color:#80bfff;
  opacity: .8;
}

#formContainter{
  display: block;
  float: right;
  width: 80%;
  margin: auto;
  height: 1400px;
  color:#80bfff;

  
}
#leftMenu{
  opacity: .8;
  height:2000px;
	width:18%;
	float: left;
	display: inline-block;
	text-align: left;
	list-style: none;
  background-color: #00001a;
  color:#80bfff;

}

#leftMenu li{
  list-style: none;
  border-bottom: 1px solid #90A4AE;
  margin:20px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
}

#leftMenu ul{
  padding-left: 0px;
}

.plusButton{
  display: inline-block;
  float: left;
  height:150px;
  width: 150px;
  background-color:#64B5F6;
  font-size:24px;
  margin:20px 0px 0px 50px;
  border-radius: 5px;
  border-color: #00001a;

}

#firstForm, #secondForm, #thirdForm{
  display: block;
  text-align: center;
  width:60%;
  margin:auto;
  background-color: #000033;
  opacity: .8;
}

.textFieldSmall{
  display: block;
  width: 300px;
  height:60px;
  margin: 10px 20px;
  color:black;
  background-color:#e6f2ff;
   border:0;
  outline: 0;
  border-radius: 5px;
}
.textSmall, #recipeTypeSelect{
  display: inline-block;
  width: 140px;
  height: 60px;
  margin:10px 5px 10px;
  background-color:#e6f2ff;
   border:0;
  outline: 0;
  border-radius: 5px;
}

#degreesSelectType{
  height:60px;
  margin-left: 5px;
  background-color:#e6f2ff;
}

.firstBloc{
  display: block;
  margin:20px auto;
  height:50px;
  width:400px;
  background-color:#e6f2ff;
    border:0;
  outline: 0;
  border-radius: 5px;
}

#buttonPlus{
  display: inline-block;
  float: left;
  width:100%;
  height: 200px;

}

input[type=checkbox]{
  margin:0px 20px 0px 20px;
}

option{
  color: black;
}

#amountSpan{
  display: block;
  width: 100%;
  margin:0px 10px 10px 10px;
}
.textLoaves{
  height: 60px;
  width:300px;
  margin-left: 10px;
  background-color:#e6f2ff;
  border:0;
  outline: 0;
  border-radius: 5px;

}

.smallText{
  height:60px;
  width:80px;
  margin:15px;
  background-color:#e6f2ff;
   border:0;
  outline: 0;
  border-radius: 5px;
}

.bigTextArea{
  height:150px;
  width:85%;
  margin: 15px;
  background-color:#e6f2ff;
   border:0;
  outline: 0;
  border-radius: 5px;
}

.bigButtons{
  height:60px;
  width: 150px;
  border-radius: 5px;
  border-color: #00001a;
  margin-bottom: 20px;
  background-color:#64B5F6;
}
a:link, a:hover, a:visited, a:active{
  color:#80bfff;
  text-decoration: none;
}


